/.vscode
/.yarn
/.direnv
/.github
/app
/build
/node_modules
/src
/types
.editorconfig
.gitattributes
.gitignore
.pnp*
biome.json
.envrc
bun.lock
CLAUDE.md
flake.nix
flake.lock
tsconfig.json
tsup.config.ts
yarn.lock
